<h1>Login Page</h1>


<div class="container">
    <div class="row-3">
        <form action="/auth/login" method="post">
            <input type="text" name="email" id="" placeholder="Enter your email" required>
            <input type="password" name="password" id="" placeholder="Enter your password" required>
            <button type="submit">Login</button>
        </form>
    </div>
</div>

<br>
<a href="/auth/facebook">Facebook</a>

<br>
<br>
<a href="/auth/google"> Google</a>