<h1>Register yourself</h1>

<form action="/auth/signup" method="post">
    <input type="text" name="name" id="" placeholder="Enter your name" required>
    <input type="text" name="email" id="" placeholder="Enter your email" required>
    <input type="text" name="password" id="" placeholder="Enter a password" required>
    <input type="text" name="repassword" id="" placeholder="Renter your password" required>
    <button type="submit"> Register </button>
</form>
