
<div class="contanier">
    <div class="row">
        <h1>Login Page</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <form action="/auth/login" method="post">
            <div class="form-group">
                <input type="text" name="email" id="" placeholder="Enter your email" required>
            </div>
            <div class="form-group">
                <input type="password" name="password" id="" placeholder="Enter your password" required>
            </div>
            <button class="btn btn-light btn-lg" type="submit">Login</button>
        </form>
    </div>
</div>

<div class="container">
    <div class="row">
        <a href="/auth/facebook" class="btn btn-primary" >
            <i class="fab fa-facebook"></i>
            Login with Facebook
        </a>
    </div>
</div>

<div class="container">
    <div class="row">
        <a href="/auth/google" class="btn btn-light"> 
            <i class="fab fa-google"></i>
            Login with Google
        </a>
    </div>
</div>